{% extends 'usuario/base.html' %}
{% block conteudo %}

<div class="container">
    <h1>Itens a serem ATUALIZADOS</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Codigo dos Produtos</th>
            <th>Produtos</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Excluir</th>
        </tr>
        {% for i in produtos %}
        <tr>
            <td>{{i.codigo_pro}}</td>
            <td>{{i.nome}}</td>
            <td>{{i.preco}}</td>
            <td>{{i.categoria}}</td>
            <td><a href="{% url 'update' i.codigo_pro %}" class="btn btn-primary btn-warning">Editar</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}